{% extends 'service_base.html' %}

{% block content %}
  {% include 'service_detail/service_detail_hero.html' %}
  {% include 'service_detail/service_detail_stats.html' %}
  {% include 'service_detail/service_detail_overview.html' %}
  {% include 'service_detail/service_detail_process.html' %}
  {% include 'service_detail/service_detail_showcase.html' %}
  {% include 'service_detail/service_detail_specs.html' %}
  {% include 'service_detail/service_detail_testimonial.html' %}
 
{% endblock %}


