{% extends 'service_base.html' %}

{% block content %}
  {% include 'partials/service_detail_hero.html' %}
  {% include 'partials/service_detail_stats.html' %}
  {% include 'partials/service_detail_overview.html' %}
  {% include 'partials/service_detail_process.html' %}
  {% include 'partials/service_detail_showcase.html' %}
  {% include 'partials/service_detail_specs.html' %}
  {% include 'partials/service_detail_testimonial.html' %}
  {% include 'partials/service_detail_related.html' %}
{% endblock %}
